# App
APP_NAME=StoryCards
DEBUG=true

# Database
DATABASE_URL=postgresql+asyncpg://storycards:storycards@db:5432/storycards
DATABASE_URL_SYNC=postgresql+psycopg2://storycards:storycards@db:5432/storycards

# Redis
REDIS_URL=redis://redis:6379/0

# Celery
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

# AI
GOOGLE_API_KEY=
GEMENI_MODEL=gemini-3-flash-preview

# HuggingFace
HF_TOKEN=

